## Splitting dataset: test & train

In [53]:
import pandas as pd
import numpy as np

In [54]:
data = {
    'massa': np.arange(100),
    'harga': np.arange(100)
}
df = pd.DataFrame(data)
df.tail()

    massa  harga
95     95     95
96     96     96
97     97     97
98     98     98
99     99     99

Machine learning ? = learning <br>
anak SD, belajar => bahan belajar 1 buah buku => ujian buku yg sama <br>
100% jawab <br>
anak SD olimpiade, soal tdk ada di buku => failed <br>

ML model bagus => predik dataset yg tersedia => predik new data

### Splitting manual %training & %testing

In [55]:
dataTrain = df.iloc[0:81]
dataTest = df.iloc[81:]

In [56]:
massaTrain = pd.DataFrame(dataTrain['massa'])
hargaTrain = pd.DataFrame(dataTrain['harga'])
massaTest = pd.DataFrame(dataTest['massa'])
hargaTest = pd.DataFrame(dataTest['harga'])

In [57]:
from sklearn.linear_model import LinearRegression

In [58]:
model = LinearRegression()
model.fit(massaTrain, hargaTrain)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [59]:
dfPred = pd.DataFrame(columns=['hargaTest', 'predikMassaTest'])
dfPred['predikMassaTest'] = model.predict(massaTest)[:,0]
dfPred['hargaTest'] = hargaTest
dfPred

    hargaTest  predikMassaTest
0         NaN             81.0
1         NaN             82.0
2         NaN             83.0
3         NaN             84.0
4         NaN             85.0
5         NaN             86.0
6         NaN             87.0
7         NaN             88.0
8         NaN             89.0
9         NaN             90.0
10        NaN             91.0
11        NaN             92.0
12        NaN             93.0
13        NaN             94.0
14        NaN             95.0
15        NaN             96.0
16        NaN             97.0
17        NaN             98.0
18        NaN             99.0

### Splitting data dg sklearn: train_test_split

In [60]:
from sklearn.model_selection import train_test_split

In [74]:
xtr, xts, ytr, yts = train_test_split(
    df[['massa']], df['harga'],
    train_size = .8,
#     random_state = 10
)

# len(np.array(xtr.tolist())) # = massa 80 = 80/100 = 80% = x_train
# len(np.array(xts.tolist())) # = massa 20 = 20/100 = 20% = x_test
# len(np.array(ytr.tolist())) # = massa 80 = 80/100 = 80% = y_train
# len(np.array(yts.tolist())) # = massa 20 = 20/100 = 20% = y_test

xtr, ytr

(    massa
 36     36
 82     82
 71     71
 62     62
 6       6
 ..    ...
 21     21
 64     64
 58     58
 1       1
 60     60

 [80 rows x 1 columns], 36    36
 82    82
 71    71
 62    62
 6      6
       ..
 21    21
 64    64
 58    58
 1      1
 60    60
 Name: harga, Length: 80, dtype: int32)

In [80]:
model = LinearRegression()
model.fit(xtr, ytr)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [84]:
print(model.predict(xts))
yts

[37. 46. 87. 24. 92.  8. 59. 47. 55. 67. 51. 31. 26. 40. 84. 52. 69. 63.
 48. 79.]

37    37
46    46
87    87
24    24
92    92
8      8
59    59
47    47
55    55
67    67
51    51
31    31
26    26
40    40
84    84
52    52
69    69
63    63
48    48
79    79
Name: harga, dtype: int32

In [83]:
model.score(xts, yts)

1.0